{"player1":{"id":1,"gamepadConnected":true,"keyboard":{"rotLeft":276,"rotRight":275,"aimLeft":106,"aimRight":107,"fire":108,"forward":273,"backwards":274},"gamepad":{"aimLeft":354,"aimRight":355,"fire":350,"horizontal":"Horizontal1","forward":"Forward1","backwards":"Backwards1"}},"player2":{"id":2,"gamepadConnected":true,"keyboard":{"rotLeft":97,"rotRight":100,"aimLeft":99,"aimRight":118,"fire":98,"forward":119,"backwards":115},"gamepad":{"aimLeft":374,"aimRight":375,"fire":370,"horizontal":"Horizontal2","forward":"Forward2","backwards":"Backwards2"}}}