{"player1":{"id":1,"gamepadConnected":true,"keyboard":{"rotLeft":276,"rotRight":275,"aimLeft":106,"aimRight":108,"fire":107,"forward":273,"backwards":274},"gamepad":{"aim":"Aim1","fire":355,"horizontal":"Horizontal1","forward":"Forward1","backwards":"Backwards1"}},"player2":{"id":2,"gamepadConnected":true,"keyboard":{"rotLeft":97,"rotRight":100,"aimLeft":99,"aimRight":98,"fire":118,"forward":119,"backwards":115},"gamepad":{"aim":"Aim2","fire":370,"horizontal":"Horizontal2","forward":"Forward2","backwards":"Backwards2"}}}